{%extends "layout.html"%}

    {% block content %}

    {%block head%}
        
        <title>Sobre -Moacir Amaro</title>
    
    {% endblock %}
    
    <div id="wrapper">
        <img src="https://scontent-for1-1.xx.fbcdn.net/v/t1.0-9/82368444_2761700037243794_7760986799857467392_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_eui2=AeFxMoiIGXy8BReFiIx-j9e55ycACz5UrHfnJwALPlSsd5ZGbpG_b0ObqM-GV-qy8797XSPzc1WnUHOiIv9YhiAw&_nc_oc=AQmVqfeJVsTEVjH_GrIgFAqOsvoSE2HJskqOXivKslGs8J_rmSodK8SFENtgwKITMZ8&_nc_ht=scontent-for1-1.xx&oh=0b1b2aa76e866f851d0e0008ba971354&oe=5F071792"
            alt="">
        <h1>Moacir Amaro</h1>
        <h2>Dev Full-stack junior</h2>
    </div>
    <footer>
        <div id="links-footer" class="links">
            <a href="https://github.com/koukunwlk" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/moaciramaro" target="_blank">Linkedin</a>
            <a href="https://www.facebook.com/junior.72wlk" target="_blank">Facebook</a>
    </footer>
    {% endblock %}