<!DOCTYPE html>
<html lang="br">

<head>
    {%block head%}
        
        <title>Moacir Amaro</title>
        
    {% endblock %}
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="icon" href="/favicon.png" />
        

</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portifolio">Portifolio</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</html>